body{
    background-color: yellowgreen;
}
.fire{
    border: 1px solid chocolate;
    text-align: center;
    margin: 20px;
    padding: 30px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% ;
    background-attachment: fixed;
    font-family: sans-serif;
    font-size: 78px;
    background-image: url(fire.gif);
    border-image: 50px;
    color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bolder;
    
    

}